<link rel="stylesheet" type="text/css" href="/css/styleTable.css" />

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" >Logout</button>
</form>
<div>
  <h2 <%=errors=='' ? "hidden": "" %> style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;"><%=errors %></h2>
  <h2>Aktivnost:   <%=isActive %></h2>
    <h2>Račun:   <%=currentUser['balance'] %>kn</h2>
    <h2>Today date: <%=todayDate.toLocaleDateString('hr-HR') %></h2>
    <h2>Valjanost:<b style="color:blue"><%=isActive? 'AKTIVAN' : 'NEAKTIVAN' %></b> do datuma <%=aktExp %> (preostalo dana <%=aktTime %>)</h2>  
    

    
<table style="width:100% ;border:1px solid black">
    <tr>
      <th>Bon ID</th><th>Datum generiranja</th><th>Datum akt</th><th>Trajanje</th><th>Vrijednost</th><th>Aktiviraj</th>
    </tr>
  
<% for (var i = 0; i < bonovi.length; i++) {  %>
      <tr <%= (isActive && (i== activeIndex))? 'style="background:blue"' : ' ' %>>
        <td><%= bonovi[i].id %></td>
        <td><%= bonovi[i].genDate %></td>
        <td><%= bonovi[i].actDate %></td>
        <td><%= bonovi[i].duration %></td>
        <td><%= bonovi[i].value %>kn</td>

        <td>
          <form action=<%='./activate/' + bonovi[i].id %> method="POST">
            <button   <%= (i== activeIndex)? 'disabled' : ' ' %> type="submit"><%= (i== activeIndex)? 'AKTIVAN' : 'Aktiviraj' %></button>
          </form>
        </td>
      </tr>    
    <% } %>
  </table>

  <form action='./generate' method="POST">
    <h2>Generiraj novi BON: </h2> <button type="submit" >GENERIRAJ NOVI (preostalo <%=currentUser['genCount'] %>)</button> 
  </form>
  
</div>